# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js (build output y exportación estática)
.next/
out/
next-env.d.ts

# producción
build/
dist/

# testing
coverage/

# vercel
.vercel/

# variables de entorno
.env*
!.env.example

# typescript
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# sistema
.DS_Store
Thumbs.db
*.pem
